workflow.json
{
  "name": "WhatsApp AI Agent for Adidas Customer Support Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "com.twilio.messaging.inbound-message.received"
        ]
      },
      "type": "n8n-nodes-base.twilioTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        368
      ],
      "id": "e00b54a8-ee2b-4024-8089-f1229688adc7",
      "name": "Twilio Trigger",
      "webhookId": "4079e202-8ef7-4932-a9a1-98fcda4aed64",
      "credentials": {
        "twilioApi": {
          "id": "pDI5sssG3m0yvXji",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "whatsapp:+918828489397",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        848,
        368
      ],
      "id": "face4a39-df06-47a8-ab5d-1dd8c964369e",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "pDI5sssG3m0yvXji",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User input:  {{ $('Twilio Trigger').item.json.Body }}\n",
        "options": {
          "systemMessage": "=You are an AI WhatsApp assistant for Adidas, a shoe store. You help customers with FAQs,\norder tracking, and product availability. For anything outside your scope, politely refer to the\nknowledge base or offer to escalate the query. You are friendly, helpful, concise, and sound like\na professional human assistant.\nYou operate 24/7, but the business runs in EST timezone.\nConversational Flow\nOnly when asked about you, respond with:\nHey! I'm Alex, your AI assistant from Adidas. Need help with an order or have a quick\nquestion? I've got you covered—what can I assist you with today?\nLogic\nGeneral Questions (e.g., return policy, shipping time, store hours)\n→ Search the Knowledge Base.\n→ Always respond clearly and simply.\n→ Respond with cleaned output.\n→ Example:\nReturn Policy: {{ $json.return_policy }}\nFor getting product information, run tool: order_records\nOrder Tracking\n→ Ask for the order ID.\n→ Run tool_call: order_tracking.\n→ Reply with delivery status and expected arrival.\n→ If order ID is invalid or not found, ask the user to double-check and re-enter.\nSpeak to Someone / Log a Query\n→ Ask for full name, issue\n→ Confirm: \"Thanks! I've submitted this to our team. They'll get back to you shortly.\"\nSet Hassan Mahmood as default assignee always\n→ Run tool_call: create_tickets.\nBehavioral Guidelines\nKeep responses short, clear, and on-topic.\nSound natural and professional.\nGuide the conversation; ask polite follow-ups if vague.\nNever mention tools or internal processes.\nDon't guess answers.\nUse plain text only — no markdown formatting.\nGoal: Ensure customers get fast, accurate, and helpful responses, leaving them satisfied and\nsupported."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        480,
        368
      ],
      "id": "6394b3f2-69ed-437a-8f69-cf1739cd6bf4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        352,
        592
      ],
      "id": "e9c2a364-80d8-44d0-bad8-da3b7847ea86",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "qP5dwXewRP94sxtY",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appCkky7YllOJa6qq",
          "mode": "list",
          "cachedResultName": "Adidas",
          "cachedResultUrl": "https://airtable.com/appCkky7YllOJa6qq"
        },
        "table": {
          "__rl": true,
          "value": "tblSm4WF9FuCrDTwc",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://airtable.com/appCkky7YllOJa6qq/tblSm4WF9FuCrDTwc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}",
            "Assignee": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Assignee', ``, 'string') }}",
            "Status": "Todo"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                },
                {
                  "name": "Status",
                  "value": "Status"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        480,
        592
      ],
      "id": "eb6da9b8-623a-4422-8874-89936b13f3cf",
      "name": "create_tickets",
      "credentials": {
        "airtableTokenApi": {
          "id": "6apRFhiRGLO0cYAa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCkky7YllOJa6qq",
          "mode": "list",
          "cachedResultName": "Adidas",
          "cachedResultUrl": "https://airtable.com/appCkky7YllOJa6qq"
        },
        "table": {
          "__rl": true,
          "value": "tblUWtrMeFV5gBAdr",
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://airtable.com/appCkky7YllOJa6qq/tblUWtrMeFV5gBAdr"
        },
        "filterByFormula": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', `filter based on price filed name is product_price`, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        608,
        592
      ],
      "id": "cbf8ddfc-3921-4606-8bc1-542e6cc173e6",
      "name": "order_records",
      "credentials": {
        "airtableTokenApi": {
          "id": "6apRFhiRGLO0cYAa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCkky7YllOJa6qq",
          "mode": "list",
          "cachedResultName": "Adidas",
          "cachedResultUrl": "https://airtable.com/appCkky7YllOJa6qq"
        },
        "table": {
          "__rl": true,
          "value": "tblnCvxQMG92ZZjVH",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://airtable.com/appCkky7YllOJa6qq/tblnCvxQMG92ZZjVH"
        },
        "filterByFormula": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', `filter based on order_id and field name is order_id`, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        736,
        592
      ],
      "id": "3df49ccb-9dd6-4a07-873d-9ccf14398702",
      "name": "order_tracking",
      "credentials": {
        "airtableTokenApi": {
          "id": "6apRFhiRGLO0cYAa",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"return_policy\": \"Return Policy is within 5 days\",\n \n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        368
      ],
      "id": "c4e835ab-90b9-4f85-96f2-87ebd0244ae0",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Twilio Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "create_tickets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "order_records": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "order_tracking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "55d5423b-542e-4708-9275-dc99ef87f1f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e74808f6a61249064ab6f3efe36c0fe9a00687e50113a0cf802e24033ac0beb"
  },
  "id": "0MmF8nnQ9oxDFze4",
  "tags": []
}